@import url('https://fonts.googleapis.com/css?family=VT323');
#gameCanvas{
    display:none;
}
html, body {
    /* overflow: hidden; */
    width:  100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
  }

.canvas-overlay{
    height:100%;
    width:100%;
    z-index: 1;
    background-color: rgba(10,10,10,0.3);
    position: absolute;
}

.start-game-button{
    position: absolute;
    left:8px;
    top:50%;
    left:50%;
    width: 200px;
    height:35px;
    z-index: 2;
    transform:translate(-50%,-50%);
    background-color: red;
    outline: none;
    border: 0px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    background-color: navy;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(10,10,10,1);
}

.input-name{
    border: 0px;
    box-sizing: border-box;
    position: absolute;
    left:8px;
    top:45%;
    left:50%;
    z-index: 2;
    transform:translate(-50%,-45%);
    outline: none;
    height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 2px;
    z-index: 2;
    font-size: 15px;
    font-weight: 600;
    
}

.chat-window{
    font-family: 'VT323', monospace;
    position: absolute;
    display: inline-block;
    width: 270px;
    font-size:15px;
    top:0;
    position:absolute;

   
}
#chatInput{
    outline: none;
    display: none;
    border: 0px;
    height: 27px;
    border-bottom: 2px solid #7a00aa;
    font-size: 14px;

}
#chatSubmit{
    display: none;
    border: 0px;
    background-color: transparent;
    font-size: 15px;
    color: #7a00aa;
    font-weight: 600;
    height: 100%;
    cursor: pointer;
}
.send-container{
    text-align: center;
    position: absolute;
    bottom: 0;
    display: none;
    left: 50%;
    height: 30px;
    width: 252px;
    transform: translate(-50%,0);
    margin-bottom: 10px;
}

.stats-display{
    position: relative;
    overflow-y: auto;
    background-color: transparent;
    width: 255px;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,0);
    margin-top: 10px;
}
.chat-display{
    display: none;
    position: relative;
    overflow-y: auto;
    background-color: #eee;
    width: 255px;
    left: 50%;
    height: 66%;    
    font-size: 20px;
    transform: translate(-50%,0);
    margin-top: 10px;
}

.feed-display{
    position: relative;
    overflow-y: auto;
    background-color: transparent;
    width: 255px;
    height:20%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,0);
    margin-top: 10px;
}

.feed-display div{
    margin: 5px;
}

.chat-display div{
    margin:5px;
    
}


#ctrl-fire{
    position: absolute;
    border-radius: 50%;
    bottom: 190px;
    right: 95px;
    background-color: rgba(1,1,1,0.34);
    width: 40px;
    height: 40px;
   
}

#ctrl-up{
    position: absolute;

    bottom: 120px;
    left: 50px;
   
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgba(1,1,1,0.34);
}

#ctrl-down{
    position: absolute;
    
    bottom: 63px;
    left: 50px;
   
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid rgba(1,1,1,0.34);
}

#ctrl-left{
    position: absolute;
    
   bottom: 70px;
   right:120px;
   
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid rgba(1,1,1,0.34);
}

#ctrl-right{
    position: absolute;
    
    bottom: 70px;
    right:63px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid rgba(1,1,1,0.34);
}